<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
          	<li><a class="page-link" href="https://karpenko.fr/imprint"><small>imprint & privacy</small></a></li>
			  
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        
		<p>{{ site.description | escape }}		</p>
        
		
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
	  <!--{% include social-media-links.html %}-->
    </div>
	<div class="powered-by">
		<p>Powered by <a href="jekyllrb.com/">Jekyll</a>, hosted by <a href="gitlab.com/">GitLab</a></p>
	</div>
	

  </div>

</footer>
