// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* Style the top language bar */
.lang-bar {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    @extend %clearfix;

    @media screen and (min-width: $on-large) {
      max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
      padding-right: $spacing-unit;
      padding-left: $spacing-unit;
    }
    text-align: right;
}

/* Style the topnav links */
.lang-options a {
  color: $text-color;
  
  &:hover {
    /*color: $link-hover-color;*/
    text-transform: uppercase;
  }
}

.legende {	
	font-size: small;
	color: #D67A00;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

.powered-by {
	color: $text-color;
	text-align: center;
	font-size: small;
}
a {
	color: $text-color;
}
